<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Generated</title>

</head>
<body>

    <div style="color: black;">

        <a href="<%= url %>">Reset your password</a>
        <p>If you didn't forget your password, please ignore this email!</p>
      
        <div>
<p>Care Feedback</p>
    
         </div>
    </div>
</body>
</html>
